<div class="container fluid">
  <div class="row d-flex justify-content-center">
    <nav class="col-xl">
      <div class="sidebar-sticky pt-3">
        <mat-action-list>
          <button mat-list-item routerLink="/admin/">Dashboard</button>
          <button mat-list-item routerLink="/admin/applicants">
            View Applicants
          </button>
          <button mat-list-item routerLink="/admin/requests">
            View Requests
          </button>
          <button mat-list-item routerLink="/admin/requests/match">
            Match Open Requests
          </button>

          <button mat-list-item routerLink="/admin/portalusers/createuser">
            Create Client Portal User
          </button>
        </mat-action-list>
      </div>
    </nav>

    <div class="col-xl-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
