p Dear #{name},
p Please be advised that your employer the #{employer} has validated your application and confirmed that you are releasable to the Temporary Assignments Scheme.
p If you are assigned to a request, we will contact you with your assignment information.
p. 
  Kind regards, #[br]
  Temporary Assignments Scheme