<div class="container fluid">
  <div class="row">
    <nav class="col-xl">
      <div class="sidebar-sticky pt-3">
        <mat-action-list>
          <button mat-list-item routerLink="/clients/">Dashboard</button>
          <button
            *ngIf="authService.isRequester()"
            mat-list-item
            routerLink="/clients/addrequest"
          >
            Submit Request
          </button>
          <button
            *ngIf="authService.isRequester()"
            mat-list-item
            routerLink="/clients/viewrequests"
          >
            View Requests
          </button>
          <button
            *ngIf="authService.isProvider()"
            mat-list-item
            routerLink="/clients/staff"
          >
            View Staff
          </button>
        </mat-action-list>
      </div>
    </nav>

    <div class="col-xl-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
