<div class="card mt-3">
  <mat-tab-group mat-align-tabs="left" animationDuration="0ms">
    <mat-tab label="Personal Information">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">PPS Number: {{ applicant?.ppsnumber }}</li>
        <li class="list-group-item">
          Name: {{ applicant?.firstname }} {{ applicant?.surname }}
        </li>
        <li class="list-group-item">Status: {{ applicant?.status }}</li>
        <li class="list-group-item">Mobile Number: {{ applicant?.mobile }}</li>
        <li class="list-group-item">
          Personal E-Mail Address: {{ applicant?.homeemail }}
        </li>
        <li class="list-group-item">Address 1: {{ applicant?.address1 }}</li>
        <li class="list-group-item">Address 2: {{ applicant?.address2 }}</li>
        <li class="list-group-item">Eircode: {{ applicant?.eircode }}</li>
        <li class="list-group-item">County: {{ applicant?.county }}</li>
        <li>
          <button
            (click)="validate()"
            class="btn btn-warning"
            *ngIf="applicant?.status == 'Unvalidated'"
          >
            Validate
          </button>
          <button class="btn btn-danger" routerLink="/admin/applicants/">
            Return to Applicants
          </button>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Employment and Skills Information">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Employer: {{ applicant?.employer.name }}
        </li>
        <li class="list-group-item">Grade: {{ applicant?.grade }}</li>
        <li class="list-group-item">Work E-Mail: {{ applicant?.workemail }}</li>
        <li class="list-group-item">
          Full-time?: {{ applicant?.fulltime == true ? "Yes" : "No" }}
        </li>
        <li></li>
      </ul>
      <h2 class="ml-3">Skills</h2>
      <ul>
        <li *ngFor="let skill of applicant?.skills">
          {{ skill.name }}
        </li>
      </ul>
    </mat-tab>

    <mat-tab label="Rating Information" [disabled]="ratings?.data.length == 0">
      <table class="ratingtable" mat-table [dataSource]="ratings" matSort>
        <!-- Request ID Column -->
        <ng-container matColumnDef="requestid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Request ID</th>
          <td mat-cell *matCellDef="let row">
            Request-{{ row.request.requestID }}
          </td>
        </ng-container>

        <!-- Requester First Name Column -->
        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Requesting Manager First Name
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.request.requester.firstname }}
          </td>
        </ng-container>

        <!-- Requester Surname Column -->
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Requesting Manager Surname
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.request.requester.surname }}
          </td>
        </ng-container>

        <!-- Client Column -->
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
          <td mat-cell *matCellDef="let row">
            {{ row.request.requester.client.name }}
          </td>
        </ng-container>

        <!-- Distance Column -->
        <ng-container matColumnDef="distance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employer</th>
          <td mat-cell *matCellDef="let row">{{ row.distance }} Km</td>
        </ng-container>

        <!-- Skill Fit Column -->
        <ng-container matColumnDef="skillfit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Match Fit %</th>
          <td mat-cell *matCellDef="let row">{{ row.matchFit * 100 }}%</td>
        </ng-container>

        <!-- Btn Column -->
        <ng-container matColumnDef="viewdetail">
          <th mat-header-cell *matHeaderCellDef>View Detail</th>
          <td mat-cell *matCellDef="let row">
            <button
              class="btn btn-outline-secondary btn-sm"
              type="button"
              routerLink="/admin/requests/request/{{ row.request._id }}"
            >
              View Details
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-tab>
    <mat-tab
      label="Assignment Information"
      [disabled]="applicant?.status !== 'Assigned'"
    >
      <ng-container *ngIf="applicant?.assignment !== undefined">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Request ID: Request-{{ applicant?.assignment.requestID }}
          </li>
          <li class="list-group-item">
            Name: {{ applicant?.assignment.requester.firstname }}
            {{ applicant?.assignment.requester.surname }}
          </li>
          <li class="list-group-item">
            Personal E-Mail Address: {{ applicant?.assignment.requester.email }}
          </li>
          <li class="list-group-item">
            Address 1: {{ applicant?.assignment.requester.address1 }}
          </li>
          <li class="list-group-item">
            Address 2: {{ applicant?.assignment.requester.address2 }}
          </li>
          <li class="list-group-item">
            Eircode: {{ applicant?.assignment.requester.eircode }}
          </li>
          <li class="list-group-item">
            County: {{ applicant?.assignment.requester.county }}
          </li>
        </ul>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
