p Dear #{employername},
p Please be advised that your employee #{applicantfirstname} #{applicantsurname} when contacted by the #{client}, refused their reassignment.
p. 
  Kind regards, #[br]
  Temporary Assignments Scheme