<div class="card">
  <div class="card-header">Registration Successful</div>
  <div class="card-body">
    <p>
      Thank you for registering with the Temporary Assignments Scheme, your
      application has been successfuly received.
    </p>
    <b>Next Steps</b>
    <p>
      Your employer will now confirm whether you are releasable to the scheme.
      When you have been confirmed as releasable, you will then become available
      to be assigned to a request for temporary staff.
    </p>
    Any updates in relation to the scheme will be sent to your home e-mail
    address.
  </div>
</div>
